asgiref
attrs
certifi
cffi
charset-normalizer
cryptography
defusedxml
dj-rest-auth
Django
django-ckeditor
django-cors-headers
django-filter
django-js-asset
django-rest-framework
djangorestframework
djangorestframework-simplejwt
drf-spectacular
idna
inflection
jsonschema
oauthlib
pycparser
PyJWT
pyrsistent
python3-openid
pytz
PyYAML
requests-oauthlib
sqlparse
tzdata
uritemplate
urllib3