{% extends 'base.html' %}
{% block content %}



{% if q %}
<h2>{{ q }}</h2>

{% else %}
<h2 class="mt-2">So'ngi Maqolalar</h2>
<div class="cards">
{% for loop in posts %}
    <div class="card mt-3"style="margin-left: 200px; margin-right: 200px;">
        <div class="card-body" >
            {{ loop.title }}<small> <a href="{{ loop.get_absolute_url }}">To'liq O'qish</a> </small>
        </div>
    </div>
{% endfor %}
</div>
{% endif %}
















<style>
body{
    margin-top:80px;
}
</style>
{% endblock content %}